

body{
    background-color: rgb(251, 251, 255);
    margin-left: 50px;
}

header{

    background-color: grey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}   


/* NAV STYLES START */

header nav {
    margin: 7px 0;
  }
  
  header nav ul li  a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  
  header nav ul {           /* Makes Nav Bar postion inline*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  
  }
















/* Media Queries Starts  */

@media screen and (max-width: 980px) {
   header{
      padding-bottom: 0;
      justify-content: center;
   }
      header h1 {
        width: 100%;
        text-align: center;
      }

      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
      header nav ul li a {
        font-size: 20px;
      }
    
      footer h2, footer div {
        text-align: center;
        width: 100%;
      }
    
      .hero-cta, .hero-form {
        width: 100%;
      }
      
      .hero-cta {
        text-align: center;
      }

      .section-title{
        width:80%;
      }
      .trainer{
        flex: 0 70%;
      }
      .contact-info iframe {
        padding-top: 50px;
        flex: 1 100%;

      }
     
  }
  




/* this will be applied on any screen smaller than 980px */

@media screen and (max-width: 768px) {    
 
  section {
    padding: 30px 15px;
  }
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }

  
}
  

/* this will be applied on any screen between 768px and 575px */

@media screen and (max-width:575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }
    }
    .contact-form {
      order: 3;   /*  <<--- "order property" can be very useful it can rearrange how child elements appear on a page without moving the HTML. */
    }
/* this will be applied on any screen smaller than 575px */


@media screen and  (max-width:575px){
.steps h2 {
  text-align: center;
   
    
  }
  

}