

body{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    margin: 0%;
    
}

header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}   


/* NAV STYLES START */




header nav {
    margin: 0px 0;
    background-color: black;
  }
  
  header nav ul li  a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
  }
  
  header nav ul li a:hover {
    background-color: grey;
    color: white;
    border-radius: 15px;
    text-shadow: none;
  }
  
  header nav ul {           /* Makes Nav Bar postion inline*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  
  }

  /* NAV STYLES ENDS */


/* INTRODUCTION STYLES START */
.intro{
    padding: 0px;
    text-align: center;

}

.intro-section h1 {
    font-family: Papyrus ;
    font-size: 65px;
}


  .intro-section img {
    width: 40%;
    padding-top: 50px;
    border-radius: 250px;
  }

/* INTRODUCTION STYLES ENDS */


/* DOWNLOAD RESUME SECTION STYLES STARTS */


.downloadResume button :hover{
    color: red;
    cursor:pointer;
   background: wheat;
}


.downloadResume button{
    border-radius: 15px;
    background: wheat;
}


.downloadResume{
   text-align: center;
   padding-top: 20px;
   
}





/* DOWNLOAD RESUME STYLES ENDS */


/*  SKILLS COLUMN STARTS */

.trainers ul li{
    list-style: none; /* Removes bullet points */

}

.trainer  li{
    list-style: none;
   
}


.work {
    text-align: center;
    font-family: Papyrus ;
    font-size: 65px;
    padding-top: 100px;
    }
    
    
    .trainer img {
      width: 60%;
    
    }
    
    .trainer-bio {
      padding: 25px;
      line-height: 1.3;
    }
    
    
    
    .trainers {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
     
    }
    
    
    .trainer {
      margin: 20px;
      flex: 1;
     
    }
    
    
    .trainer-bio h3 {
      font-size: 32px;
      font-family:Papyrus, Helvetica, Arial, sans-serif;
    }
    
    .trainer-bio h4 {
      font-weight: lighter;
      font-size: 22px;
      margin-bottom: 15px;
    }
    
    .trainer-bio p {
      font-size: 17px;
      line-height: 1.3;
    }
    
    #your-traniers{
      background-color: white;
      
    }
    




/* PORTFOLIO SECTION STYLES STARTS */

.Port-folio h1{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 10px;
    font-family: Papyrus ;
    font-size: 65px;
}
 
  .row {
   margin-left: 1;
    text-align: center;
    
  }
  
 
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 20%;
    margin: 10px;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */

.content img{
    border-radius:  25px;

}

.content:hover{
    transform: scale(1.3);   /* Creates hover image effects */
    z-index: 2;              /* Creates hover image effects */

}
  .content {
    padding: 10px;
    transition: 1s;        /* Allows in speed when hovering over image -  Creates hover image effects */
    cursor: pointer;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


/* SIDE BAR SECTION STYLES STARTS */

.Sidebar {
    padding-top: 1000px;
    width: 70px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
   
}



.social-links img {
    width:50px;
    margin:5px auto ;

}



/* REACH OUT SECTION STYLES STARTS */

.section-title {
    font-size: 55px;
    padding: 0 100px 20px 100px;
    margin-bottom: 35px;
    text-align: center;
  }
  
/*   
  .contact {
   
  
  } */
  
  .contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact h2 {
  color: black;
    
  }
  
  .contact h3  {
    line-height: 2;
  
  }
  
  .contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 5px 60px;
    color: white;
  }
  
  .contact-info h3 {
    font-size: 32px;
  }
  
  .contact-info p, .contact-info address {
    margin: 10px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
    color: white;
  }
  
  
  
  
  .contact-info a {
    color: white;
  }
  


  
  .hero-form{
    background-color: rgba(252, 225, 56,0.7); /* Apply's Transpaceny to box by using the "rgba" atturibute  */ 
    padding: 40px;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;  /* Apply's rounded corners to box elements   */ 
  }
  
  .hero-form button:hover {
    background-color: #39a6b2;  
    cursor:pointer;
  }
  
  
  .hero-form p {
    margin: 5px 0 15px 0;
   
  }
  
  .hero-form h3{
    font-size: 24px;
    margin: 0;
    
  }
  
  .form-input {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgba(255,255,255, 0.75);
  }
  

  
  .hero-form label{
    margin: 0 5px;
   
  }
  
  .hero-form button{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
  }
  



  /* Footer Section Starts  */


footer {
text-align: center;
font-size: 10px;

}


  /* Footer Section Ends */

/* Media Queries Starts  */


  /* Tablets  */
    @media screen and (min-width: 768px) {    /* If the Width of the screen is SMALLER than 980px  */
       
        .hero{
           
           text-align: center;
        }

        .hero div h3 {
            margin-bottom: 0px;
        }

        .Portfolio .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
           
        }

            .trainers {
                flex-wrap: nowrap;
            }

       
        
        .work {
            margin-bottom: 5px;
        }

        #about-me h1 {
            margin-bottom: 0px;
        }

        .intro-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

        }

        #about-me img {
            width: 25%;
            
        }

        .topnav{
            width: 75%;
           
            
            
        }

     }


      /* moblie screens  */
      @media screen and (max-width: 480px) {
      
        
        footer h1{
            font-size: 12px;
            padding-right: 167px;
        }



      /* Styles for contact form start */

        .contact-info .hero-form {
         margin-left: 0px;
         width: 50%;
        
            
        }

        #reach-out.contact div.contact-info .hero-form{
             padding:20px;
            
         }

        #reach-out.contact div.contact-info .hero div{
        margin: -14px 0 5px 33px;
          
        }

         .contact-info .hero .hero-form .form-input{
           
            padding: 13px 1px;
      }
      
      .section-title  {
         font-size: 30px ;
         padding: 0 231px 20px 100px;
      }



        /* Styles for portfolio form start */


        .Port-folio .row .column .content img { 
            width: 50%;
            image-orientation: flip;
          
        }


        .hero{
           
        }
    }